<div id="<%= dom_id poste %>">
  <p>
    <strong>Users:</strong>
    <%= poste.users_id %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= poste.file %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= poste.cidade_id %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= poste.bairro_id %>
  </p>

  <p>
    <strong>Zonautm:</strong>
    <%= poste.zonautm %>
  </p>

  <p>
    <strong>Localizacao utm x:</strong>
    <%= poste.localizacao_utm_x %>
  </p>

  <p>
    <strong>Localizacao utm y:</strong>
    <%= poste.localizacao_utm_y %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= poste.observacoes %>
  </p>

  <p>
    <strong>Data registro:</strong>
    <%= poste.data_registro %>
  </p>

</div>
