<%= form_with(model: poste) do |form| %>
  <% if poste.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(poste.errors.count, "error") %> prohibited this poste from being saved:</h2>

      <ul>
        <% poste.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :users_id %>
    <%= form.collection_select :users_id, User.all, :id, :username %>
  </div>

  <div>
    <%= form.label :file_path, style: "display: block" %>
    <%= form.text_field :file_path %>
  </div>

  <div class="field">
    <%= form.label :file, "Upload Foto" %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.label :cidade_id, style: "display: block" %>
    <%= form.text_field :cidade_id %>
  </div>

  <div>
    <%= form.label :bairro_id, style: "display: block" %>
    <%= form.text_field :bairro_id %>
  </div>

  <div>
    <%= form.label :zonautm, style: "display: block" %>
    <%= form.text_field :zonautm %>
  </div>

  <div>
    <%= form.label :localizacao_utm_x, style: "display: block" %>
    <%= form.text_field :localizacao_utm_x %>
  </div>

  <div>
    <%= form.label :localizacao_utm_y, style: "display: block" %>
    <%= form.text_field :localizacao_utm_y %>
  </div>

  <div>
    <%= form.label :observacoes, style: "display: block" %>
    <%= form.text_area :observacoes %>
  </div>

  <div>
    <%= form.label :data_registro, style: "display: block" %>
    <%= form.datetime_field :data_registro %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
