<p style="color: green"><%= notice %></p>

<%= render @poste %>

<div>
  <%= link_to "Edit this poste", edit_poste_path(@poste) %> |
  <%= link_to "Back to postes", postes_path %>

  <% if @poste.file.attached? %>
  <%= image_tag url_for(@poste.file) %>
<% else %>
  <p>No image uploaded.</p>
<% end %>

  <%= button_to "Destroy this poste", @poste, method: :delete, data: { confirm: "Are you sure?" } %>
</div>
